.disp-grid{
  display: grid
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.paginationItem {
  background: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: #46bbc9;
 /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);*/
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.cta-detail{  
  background: #fff !important; 
  padding: 50px 0;
  margin-bottom: 50px;  
  }
.cta-detail h3 {
  color: #009688;
  font-size: 28px;
  font-weight: 700;
}
.cta-detail p {
  color: #009688;
}
.cta-detail .cta-detail-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #6c757d;
  color: #fff;
  background-color: #6c757d !important;
}
.cta-detail .cta-detail-btn:hover {
  background: #6c757d;
  color: #fff;
}